In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('fifa21_male2.csv')
data.sample(5)

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
5604,212106,D. Connolly,25,64,Republic of Ireland,St. Mirren,64,RM,RM LM ST,https://cdn.sofifa.com/players/212/106/20_120.png,...,45+2,45+2,49+2,47+2,41+2,41+2,41+2,47+2,17+2,Male
4725,206409,T. Marsh,26,61,England,Stevenage,61,LM,LM ST,https://cdn.sofifa.com/players/206/409/20_120.png,...,46+2,46+2,50+2,48+2,43+2,43+2,43+2,48+2,16+2,Male
3253,197813,J. Martin,30,73,France,Stade Rennais FC,73,CM,CM,https://cdn.sofifa.com/players/197/813/20_120.png,...,71+2,71+2,68+2,67+2,67+2,67+2,67+2,67+2,17+2,Male
6416,216381,J. Zimmer,26,72,Germany,Fortuna Düsseldorf,73,RWB,RB RM RWB,https://cdn.sofifa.com/players/216/381/20_120.png,...,68+2,68+2,72+1,70+2,66+2,66+2,66+2,70+2,18+2,Male
2328,188938,C. Álvarez,34,75,Argentina,Real Zaragoza,75,GK,GK,https://cdn.sofifa.com/players/188/938/20_120.png,...,27+2,27+2,26+2,26+2,26+2,26+2,26+2,26+2,74+1,Male

In [3]:
data.shape

(17125, 107)

In [4]:
data.columns

Index(['ID', 'Name', 'Age', 'OVA', 'Nationality', 'Club', 'BOV', 'BP',
       'Position', 'Player Photo',
       ...
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'Gender'],
      dtype='object', length=107)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Columns: 107 entries, ID to Gender
dtypes: float64(10), int64(45), object(52)
memory usage: 14.0+ MB

In [8]:
data.dtypes

ID              int64
Name           object
Age             int64
OVA             int64
Nationality    object
                ...
CB             object
RCB            object
RB             object
GK             object
Gender         object
Length: 107, dtype: object

In [11]:
new_data = data.copy()

In [12]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Columns: 107 entries, ID to Gender
dtypes: float64(10), int64(45), object(52)
memory usage: 14.0+ MB